.App {
  text-align: center;
}

.App-header {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: white;
  background-color: #7081ea;
  padding: 0 50px;
  font-size: 28px;
}

