.table{
    border: 1px solid #7081ea;
    margin: 50px auto;
    width: 70% !important;
}

.tableRow{
    cursor: pointer;
}
.tableRow:last-child td,
.tableRow:last-child th {
    border: 0;
}

.tableRow:nth-of-type(odd) {
    background-color: #eef2ff;
}

.tableRow:hover {
    background-color: #d3dcf8;
}

.info{
    height: 160px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
